
.env
.terraform/providers/registry.terraform.io/hashicorp/aws/4.67.0/darwin_arm64/terraform-provider-aws_v4.67.0_x5
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
.terraform/modules/ecr/
terraform.tfstate
terraform.tfstate.backup
